import os

class Configuration(object):
    DATABASE = {
        'name': 'yizhan',
        'engine': 'peewee.MySQLDatabase',
        'host': 'rdsmbfnmrmbfnmr.mysql.rds.aliyuncs.com',
        'port': 3306,
        'user': 'yizhan',
        'passwd': '******',
        'threadlocals': True,
    }
    REDIS = 'redis://localhost:6379/0'
    BABEL_DEFAULT_LOCALE = 'zh_CN'
    BABEL_DEFAULT_TIMEZONE = 'Asia/Shanghai'
    SECRET_KEY = os.urandom(24).encode('hex')
    FRONT_HOST = 'onetoend.com'
    MEDIA_PATH = os.path.join(os.path.dirname(__file__), 'media')
    DATA_DIST = os.path.join(os.path.dirname(__file__), 'data')
    QUIZ_NODES = [
        {
            'host': 'xxx.xxx.xxx.xxx',
            'username': 'username',
            'password': 'password'
        },
    ]
