{% extends "layout.html" %}

{% block content %}
<section class="content-header">
  <h1>帐号管理</h1>
</section>
<section class="content">
  <p>创建的新用户如果和老用户重名，将会直接修改老用户的密码</p>
  <p>修改密码时旧密码会清空</p>
  <div class="row table-control">
    <form class="form-inline col-xs-12">
      <button type="button" class="btn btn-primary" data-toggle='modal' data-target='#userModalForm'>创建新用户</button>
    </form>
  </div>
  <div class="row">
    <div class="table-container col-xs-12">
      <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <td>id</td>
          <td>用户名</td>
          <td>操作</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
{{ super() }}
<script>
$(function() {
  new IntApp.AccountPageView({el: $('section.content')}).render();
});
</script>
{% endblock %}