{% extends "layout.html" %}

{% block content %}
<section class="content-header">
  <h1>活动</h1>
</section>
<section class="content">
  <div class="row col-xs-12 col-md-8">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">活动名称</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" placeholder="活动名称" value="{{ activity.name or '' }}">
        </div>
      </div>
      <div class="form-group">
        <label for="welcome" class="col-sm-2 control-label">活动介绍</label>

        <div class="col-sm-10">
          <textarea class="form-control textarea" rows="3" id="welcome" name="welcome" placeholder="活动介绍">{{ activity.welcome or '' }}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="welcome_img" class="col-sm-2 control-label">活动图片</label>

        <div class="col-sm-10">
          <span class="btn btn-info btn-file">选择图片
            <label for="welcome_img" class="sr-only">选择图片</label>
            <input type="file" id="welcome_img" name="welcome_img">
          </span>
          {% if activity.welcome_img %}
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#welcome_img_delete">
            删除图片
          </button>
          <!--<a href="{{ url_for('delete_welcome_image', pk=activity.id) }}" class="btn btn-warning">删除图片</a>-->
          {% endif %}
          {% if activity.welcome_img %}
          <div class="row">
            <span class="thumbnail">
              <img src="{{ url_for('welcome_image', filename=activity.welcome_img) }}" alt="welcome image">
            </span>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
      <label for="type" class="col-sm-2 control-label">活动模式</label>

        <div class="col-sm-10">
          <select class="form-control" id="type" name="type">
            {% for item in activity.TYPE_CHOICE %}
            {% if activity.type == item[0] %}
            <option value="{{item[0]}}" selected>{{item[1]}}</option>
            {% else %}
            <option value="{{item[0]}}">{{item[1]}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="book" class="col-sm-2 control-label">题库选择</label>

        <div class="col-sm-10">
          <select class="form-control" id="book" name="book">
          {% for book in books %}
            {% if activity.book == book %}
            <option value="{{ book.id }}" selected="selected">{{ book.title }}</option>
            {% else %}
            <option value="{{ book.id }}">{{ book.title }}</option>
            {% endif %}
          {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="chances" class="col-sm-2 control-label">答题机会（次）</label>

        <div class="col-sm-10">
          <input type="number" min="0" class="form-control" id="chances" name="chances" placeholder="答题机会（次）" value="{{ activity.chances or 1000 }}">
        </div>
      </div>
      <div class="form-group">
        <label for="time_limit" class="col-sm-2 control-label">答题时间（秒）</label>

        <div class="col-sm-10">
          <input type="number" min="0" class="form-control" id="time_limit" name="time_limit" placeholder="答题时间（秒）" value="{{ activity.time_limit or 0 }}">
        </div>
      </div>
      <div class="form-group">
        <label for="single" class="col-sm-2 control-label">单选题数量</label>
        <div class="col-sm-10">
          <input type="number" min="0" max="{{ activity.book.single_count }}" class="form-control" id="single" name="single" placeholder="单选题数量" value="{{ activity.single or 0 }}">
          <span class="help-block">当前选择的题库内共有<mark id="single_count">{{ activity.book.single_count }}</mark>道单选题</span>
        </div>
      </div>
      <div class="form-group">
        <label for="multi" class="col-sm-2 control-label">多选题数量</label>
        <div class="col-sm-10">
          <input type="number" min="0" max="{{ activity.book.multi_count }}" class="form-control" id="multi" name="multi" placeholder="多选题数量" value="{{ activity.multi or 0 }}">
          <span class="help-block">当前选择的题库内共有<mark id="multi_count">{{ activity.book.multi_count }}</mark>道多选题</span>
        </div>
      </div>
      <div class="form-group">
        <label for="single_points" class="col-sm-2 control-label">单选题分值</label>

        <div class="col-sm-10">
          <input type="number" min="0" class="form-control" id="single_points" name="single_points" placeholder="单选题分值" value="{{ activity.single_points or 0 }}">
        </div>
      </div>
      <div class="form-group">
        <label for="multi_points" class="col-sm-2 control-label">多选题分值</label>

        <div class="col-sm-10">
          <input type="number" min="0" class="form-control" id="multi_points" name="multi_points" placeholder="多选题分值" value="{{ activity.multi_points or 0 }}">
        </div>
      </div>
      <div class="form-group">
        <label for="datetimerange" class="col-sm-2 control-label">活动时间</label>

        <div class="col-sm-10">
          <input type="text " class="form-control" id="datetimerange" name="datetimerange" placeholder="请从下拉框内选择">
        </div>
      </div>
      <div class="form-group">
        <h4 class="col-sm-2 control-label">用户信息</h4>
      </div>
      <div class="form-group">
        <label for="info_field_1" class="col-sm-2 control-label">字段1</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="info_field_1" name="info_field_1" placeholder="字段1" value="{{ activity.info_field_1 or '' }}">
        </div>
      </div>
      <div class="form-group">
        <label for="info_field_2" class="col-sm-2 control-label">字段2</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="info_field_2" name="info_field_2" placeholder="字段2" value="{{ activity.info_field_2 or '' }}">
        </div>
      </div>
      <div class="form-group">
        <label for="info_field_3" class="col-sm-2 control-label">字段3</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="info_field_3" name="info_field_3" placeholder="字段3" value="{{ activity.info_field_3 or '' }}">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              {% if activity.show_answer %}
              <input type="checkbox" name="show_answer" checked="checked">
              {% else %}
              <input type="checkbox" name="show_answer">
              {% endif %}
              答题后显示正确答案
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </div>
    </form>
  </div>
</section>

{% if activity.welcome_img %}
<div class="modal fade" id="welcome_img_delete" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">确认</h4>
      </div>
      <div class="modal-body">
        <p>是否要删除欢迎图片？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <a class="btn btn-primary" href="{{ url_for('delete_welcome_image', pk=activity.id) }}">删除</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}


{% block script %}
{{ super() }}
<script src="/static/js/plugin.js"></script>
<script>
$(function(){
  $('#datetimerange').daterangepicker({
    locale:{
      applyLabel: '应用',
      cancelLabel: '取消',
      format: 'YYYY-MM-DD HH:mm:ss'
    },
    timePicker: true,
    timePickerIncrement: 15,
    startDate: new moment('{{ activity.start_at.isoformat() }}', moment.ISO_8601),
    {% if activity.end_at %}
    endDate: new moment('{{ activity.end_at.isoformat() }}', moment.ISO_8601)
    {% endif %}
  });
  $('textarea#welcome').wysihtml5({
    toolbar: {
      emphasis: {small:false},
      image: false,
      link: false,
      blockquote: false,
      html: true
    },
    locale: "zh-CN"
  });
  $book = $('#book');
  updateBookStats = function(){
    bookId = $book.val();
    $.getJSON('/quizbooks/' + bookId + '/stats', function(data){
      $single = $('#single');
      if($single.val() > data.single) $single.val(data.single);
      $('#single').prop('max', data.single);
      $('#single_count').text(data.single);
      $multi = $('#multi');
      if($multi.val() > data.multi) $multi.val(data.multi);
      $('#multi').prop('max', data.multi);
      $('#multi_count').text(data.multi);
    });
  }
  $book.on('change', updateBookStats);
  updateBookStats();
});
</script>
{% endblock %}