{% extends "layout.html" %}

{% block content %}
<section class="content-header">
  <h1>活动管理</h1>
</section>
<section class="content">
  <div class="row table-control">
    <form class="form-inline col-xs-12">
      <a href="{{url_for('add_activity')}}" class="btn btn-success">新建活动</a>
    </form>
  </div>
  <div class="row">
    <div class="table-container col-xs-12" id="activity-table-container">
      <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <th>活动ID</th>
          <th>活动名称</th>
          <th>题库</th>
          <th>答题模式</th>
          <th>答题机会（次）</th>
          <th>答题时间（秒）</th>
          <th>单选题数量（题）</th>
          <th>多选题数量（题）</th>
          <th>单选题分值（分）</th>
          <th>多选题分值（分）</th>
          <th>开启状态</th>
          <th>开启时间</th>
          <th>关闭时间</th>
          <th>介绍</th>
          <td>个人信息字段1</td>
          <td>个人信息字段2</td>
          <td>个人信息字段3</td>
          <th>访问地址</th>
          <th>操作</th>
          <th>创建者</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
{{ super() }}
<script src="/static/js/plugin.js"></script>
<script>
var front_host = "{{ front_host }}";
$(function() {
  new IntApp.ActivityPageView({el: $('section.content')}).render();
});
</script>
{% endblock %}