{% extends "layout.html" %}

{% block content %}
<section class="content-header">
  <h1>题库管理</h1>
</section>
<section class="content">
  <div class="row table-control">
    <form class="form-inline col-xs-12" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="book-name" class="sr-only">新题库名</label>
        <input type="text" class="form-control" id="book-name" name="name" placeholder="新题库名">
      </div>
      <div class="form-group">
        <span class="btn btn-default btn-file">选择文件
          <label for="book-file" class="sr-only">选择文件</label>
          <input type="file" id="book-file" name="file">
        </span>
      </div>
      <button type="submit" class="btn btn-primary">上传题库</button>
      <a class="btn btn-success" href="{{ url_for('quiz_book_template') }}">下载模板</a>
    </form>
  </div>
  <div class="row">
    <div class="table-responsive col-xs-12" id="quizbook-table-container">
      <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <td>名称</td>
          <td>拥有者</td>
          <td>操作</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
{{ super() }}
<script type="application/template" id="quiz-book-row-tpl">
  <td><%= title %></td>
  <td><%= user.username %></td>
  <td>
    <a href="/quizbooks/<%= id %>/questions" class="btn btn-default btn-xs">查看</a>
    <a href="" class="btn btn-primary btn-xs">编辑</a>
  </td>
</script>
<script>
  var QuizBooks = app.Collection.extend({
    url: '/api/v1/quizbook'
  });

  var QuizBookView = Backbone.View.extend({
    tagName: 'tr',
    template: _.template($('#quiz-book-row-tpl').html()),
    render: function(){
      this.$el.html(this.template(
        this.model.toJSON()
      ));
      return this;
    }
  });

  $(function() {
    var quizBooks = new QuizBooks;
    var quizBooksView = new app.TableView({
      el: $('#quizbook-table-container'),
      collection: quizBooks,
      RowView: QuizBookView
    });
    quizBooks.fetch({reset: true});
  });
</script>
{% endblock %}