{% extends "layout.html" %}

{% block content %}
<section class="content-header">
  <h1>题库内容</h1>
</section>
<section class="content">
  <div class="row table-control">
    <form class="form-inline col-xs-12">
      <div class="form-group">
        <label for="book" class="control-label">题库选择</label>
        <select class="form-control" id="book" name="book">
        {% for book in books %}
          {% if book.id|string() == book_id|string() %}
          <option value="{{ book.id }}" selected="selected">{{ book.title }}</option>
          {% else %}
          <option value="{{ book.id }}">{{ book.title }}</option>
          {% endif %}
        {% endfor %}
        </select>
      </div>
      <button type="button" class="btn btn-primary" id="loadBook">载入题库</button>
      <button type="button" class="btn btn-success" data-toggle='modal' data-target='#questionModalForm'>添加问题</button>
    </form>
  </div>
  <div class="row">
    <div class="table-responsive table-scrollable col-xs-12" id="question-table-container">
      <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <td>题目</td>
          <td>类型</td>
          <td>正解</td>
          <td>选项A</td>
          <td>选项B</td>
          <td>选项C</td>
          <td>选项D</td>
          <td>选项E</td>
          <td>选项F</td>
          <td>操作</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
{{ super() }}
<script>
$(function() {
  var bookId = {{ book_id }};
  new IntApp.QuestionPageView({el: $('section.content')}).render(bookId);
});
</script>
{% endblock %}