{% extends "layout.html" %}


{% block content %}
<section class="content-header">
  <h1>活动详情</h1>
</section>
<section class="content">
  {% if user.admin %}
  <div class="row table-control">
    <form class="form-inline col-xs-12" method="post">
      <button type="submit" class="btn btn-warning">归档成绩信息</button>
    </form>
  </div>
  {% endif %}
  <div class="table-container col-xs-12" id="activity-table-container">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>用户字段1</th>
        <th>用户字段2</th>
        <th>用户字段3</th>
        <th>分数</th>
        <th>成绩提交时间</th>
      </tr>
      </thead>
      <tbody>
      {% for run in runs %}
      <tr>
        <td>{{ run.id }}</td>
        <td>{{ run.info_field_1 or '' }}</td>
        <td>{{ run.info_field_2 or '' }}</td>
        <td>{{ run.info_field_3 or '' }}</td>
        <td>{{ run.score or '' }}</td>
        <td>{{ run.end|datetimeformat if run.end else '' }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% if pages > 1 %}
  <ul class="pagination">
    <li class="{{ 'disabled' if cur_page == 1 else ''}}">
      <a href="{{ url_for('activity_stats_detail', activity_id=activity_id, page=1, limit=paginate_by) }}" aria-label="第一页">
        <span aria-hidden>&laquo;</span>
      </a>
    </li>
    {% for page in range(1, pages + 1) %}
    <li class="{{ 'active' if cur_page == page else ''}}">
      <a href="{{ url_for('activity_stats_detail', activity_id=activity_id, page=page, limit=paginate_by) }}">{{page}}</a>
    </li>
    {% endfor %}
    <li class="{{ 'disabled' if cur_page == pages else ''}}">
      <a href="{{ url_for('activity_stats_detail', activity_id=activity_id, page=pages, limit=paginate_by) }}" aria-label="最后一页">
        <span aria-hidden>&raquo;</span>
      </a>
    </li>
  </ul>
  {% endif %}
</section>
{% endblock %}